*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mtc*
*.out
*.toc
*.synctex(busy)
*.synctex.gz
*.fdb_latexmk
*.fls
*.dvi
*.xdv
*.tmp
*.bak
*.swp
*.backup
*.sav
*.sbk
*.swo
.texpadtmp/
.DS_Store
*.pdf
!figures/*.pdf
!figures/*/*.pdf
!contents/封面.pdf
!contents/详细摘要封面.pdf
!contents/论文原创声明和使用授权说明.pdf
!blind_review/封面.pdf
!blind_review/成果.pdf
